<div
  style="width: 100%; display: flex; justify-content: center; padding-top: 70px"
>
  <div class="layout-container">
    <div class="profile-container" *ngIf="user">
      <mat-card class="profile-card">
        <mat-card-header>
          <div mat-card-avatar class="profile-image">
            <img
              [src]="user.profilePicture"
              alt="Profile Picture"
              class="profile-img"
            />
          </div>
          <mat-icon
            *ngIf="showActionButtons"
            class="edit-icon"
            aria-label="Edit profile"
            (click)="navigateToMyProfile()"
            >edit</mat-icon
          >
          <mat-icon class="view-icon" (click)="navigateToUserProducts()"
            >visibility</mat-icon
          >
        </mat-card-header>
        <mat-card-content>
          <h3 class="profile-name">{{ user.name }}</h3>
          <p class="profile-details">
            <a
              *ngIf="user.facebook"
              [href]="user.facebook"
              target="_blank"
              rel="noopener noreferrer"
              style="display: inline"
            >
              <mat-icon [inline]="true" aria-label="Facebook profile"
                >facebook</mat-icon
              >
            </a>
            <a
              *ngIf="user.instagram"
              [href]="user.instagram"
              target="_blank"
              rel="noopener noreferrer"
            >
              <i class="fab fa-instagram" aria-label="Instagram profile"></i>
            </a>
          </p>
          <p class="profile-details" *ngIf="user.phone">
            <mat-icon aria-label="Phone number">phone</mat-icon>
            {{ user.phone }}
          </p>
          <p class="profile-details" *ngIf="user.mail">
            <mat-icon aria-label="Email address">email</mat-icon>
            {{ user.mail }}
          </p>
        </mat-card-content>
      </mat-card>
    </div>

    <div style="display: flex; flex-direction: column" class="product-details">
      <div class="image-previewer" *ngIf="productId">
        <div
          class="main-image"
          *ngIf="product?.imageIds?.length; else noPhotos"
        >
          <img [src]="selectedImage" alt="Selected Image" />
          <button
            *ngIf="showActionButtons"
            mat-icon-button
            class="delete-button"
            (click)="deleteImage()"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </div>
        <ng-template #noPhotos>
          <div class="main-image main-image-upload">
            <button
              *ngIf="showActionButtons"
              mat-icon-button
              (click)="filePicker.click()"
            >
              <mat-icon>add</mat-icon>
            </button>
            <input
              type="file"
              #filePicker
              style="visibility: hidden"
              (change)="addImage($event)"
            />
          </div>
        </ng-template>

        <div class="thumbnails" *ngIf="product?.imageIds?.length">
          <img
            *ngFor="let image of product?.imageIds; let i = index"
            [src]="image.imageLink"
            (click)="selectImage(image.imageLink)"
            [class.selected]="image.imageLink === selectedImage"
            alt="Thumbnail"
          />
          <button
            *ngIf="showActionButtons"
            mat-icon-button
            class="add-button"
            (click)="filePicker.click()"
          >
            <mat-icon>add</mat-icon>
            <input
              type="file"
              #filePicker
              style="visibility: hidden"
              (change)="addImage($event)"
            />
          </button>
        </div>
      </div>

      <div style="margin-top: 10px; width: 500px" *ngIf="product && !editMode">
        <h1 class="product-name">{{ product.productName }}</h1>
        <p class="category">
          <strong>Category:</strong> {{ product.categoryId.category }}
        </p>
        <p class="brand"><strong>Brand:</strong> {{ product.brandId.brand }}</p>

        <p class="price">
          <span *ngIf="product.onSale" class="old-price"
            >{{ product.price.toFixed(2) }} ლარი</span
          >
          <span class="new-price"
            >{{
              product.newPrice?.toFixed(2) || product.price.toFixed(2)
            }}
            ლარი</span
          >
        </p>

        <p
          class="stock-status"
          [ngClass]="{
            'in-stock': product.inStock,
            'out-of-stock': !product.inStock
          }"
        >
          <strong>Status:</strong>
          {{ product.inStock ? "In Stock" : "Out of Stock" }}
        </p>

        <p class="description">
          <strong>Description:</strong> {{ product.description }}
        </p>
        <button
          *ngIf="showActionButtons"
          mat-raised-button
          color="primary"
          type="submit"
          (click)="onEdit()"
        >
          edit
        </button>
      </div>

      <!-- edit product fields  -->
      <div
        style="margin-top: 10px; width: 500px"
        *ngIf="(editMode || !this.productId) && showActionButtons"
      >
        <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
          <mat-form-field appearance="fill">
            <mat-label>Product Name</mat-label>
            <input matInput formControlName="productName" />
            <mat-error
              *ngIf="productForm.get('productName')?.hasError('required')"
            >
              Product name is required
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Category</mat-label>
            <mat-select formControlName="categoryId">
              <mat-option
                *ngFor="let category of categories"
                [value]="category._id"
              >
                {{ category.category }}
              </mat-option>
            </mat-select>
            <mat-error
              *ngIf="productForm.get('categoryId')?.hasError('required')"
            >
              Category is required
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Brand</mat-label>
            <mat-select formControlName="brandId">
              <mat-option *ngFor="let brand of brands" [value]="brand._id">
                {{ brand.brand }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="productForm.get('brandId')?.hasError('required')">
              Brand is required
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Price</mat-label>
            <input matInput type="number" formControlName="price" />
            <mat-error *ngIf="productForm.get('price')?.hasError('required')">
              Price is required
            </mat-error>
            <mat-error *ngIf="productForm.get('price')?.hasError('min')">
              Price must be a positive number
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>New Price</mat-label>
            <input matInput type="number" formControlName="newPrice" />
            <mat-error *ngIf="productForm.get('newPrice')?.hasError('min')">
              New price must be a positive number
            </mat-error>
          </mat-form-field>

          <mat-checkbox formControlName="inStock">In Stock</mat-checkbox>
          <mat-checkbox formControlName="onSale">On Sale</mat-checkbox>

          <mat-form-field appearance="fill">
            <mat-label>Description</mat-label>
            <textarea matInput formControlName="description"></textarea>
            <mat-error
              *ngIf="productForm.get('description')?.hasError('maxlength')"
            >
              Description cannot exceed 500 characters
            </mat-error>
          </mat-form-field>

          <button
            *ngIf="showActionButtons"
            style="margin-right: 4px"
            mat-raised-button
            color="primary"
            type="submit"
            [disabled]="productForm.invalid"
          >
            Submit
          </button>

          <button
            *ngIf="showActionButtons"
            mat-raised-button
            color="accent"
            (click)="editMode = false"
          >
            Cancel
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
