<div
  style="width: 100%; display: flex; justify-content: center; padding-top: 70px"
>
  <div class="container">
    <div class="filters-container">
      <mat-card class="filters-card">
        <div class="filter-fields">
          <mat-form-field appearance="outline" class="filter-field">
            <mat-label>Category</mat-label>
            <mat-select
              [(ngModel)]="filters.category"
              (selectionChange)="applyFilters()"
            >
              <mat-option
                *ngFor="let category of categories"
                [value]="category._id"
              >
                {{ category.category }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline" class="filter-field">
            <mat-label>Brand</mat-label>
            <mat-select
              [(ngModel)]="filters.brand"
              (selectionChange)="applyFilters()"
            >
              <mat-option *ngFor="let brand of brands" [value]="brand._id">
                {{ brand.brand }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline" class="filter-field">
            <mat-label>Min Price</mat-label>
            <input
              matInput
              type="number"
              [(ngModel)]="filters.minPrice"
              min="0"
              max="1000"
              step="10"
              (input)="applyFilters()"
              placeholder="Min Price"
            />
          </mat-form-field>

          <mat-form-field appearance="outline" class="filter-field">
            <mat-label>Max Price</mat-label>
            <input
              matInput
              type="number"
              [(ngModel)]="filters.maxPrice"
              min="0"
              max="1000"
              step="10"
              (input)="applyFilters()"
              placeholder="Max Price"
            />
          </mat-form-field>

          <mat-form-field appearance="outline" class="filter-field">
            <mat-label>Product</mat-label>
            <input
              matInput
              [(ngModel)]="filters.productName"
              (input)="applyFilters()"
              placeholder="Product Name"
            />
          </mat-form-field>
        </div>
      </mat-card>
    </div>

    <div class="product-list">
      <div *ngIf="products.length === 0" class="no-products">
        <p>No products found</p>
      </div>
      <div *ngFor="let product of products" class="product-card">
        <app-product-card [product]="product"></app-product-card>
      </div>
    </div>
  </div>
</div>
