<div class="loading-overlay" *ngIf="authService.isLoading | async">
  <mat-spinner></mat-spinner>
</div>
<div style="height: 100%">
  <mat-toolbar color="primary" class="sticky-toolbar">
    <span>
      <a routerLink="/">Shop Web</a>
    </span>
    <span class="spacer"></span>
    <ul>
      <li *ngIf="!isAuthenticated">
        <a mat-button routerLink="/auth/login" routerLinkActive="mat-accent"
          >Login</a
        >
      </li>
      <li *ngIf="!isAuthenticated">
        <a mat-button routerLink="/auth/signup" routerLinkActive="mat-accent"
          >Signup</a
        >
      </li>

      <li *ngIf="isAuthenticated">
        <a
          mat-button
          routerLink="/seller/my-profile"
          routerLinkActive="mat-accent"
          >My Profile</a
        >
      </li>

      <li *ngIf="isAuthenticated">
        <button mat-button (click)="onNavigateToMyProducts()">
          My products
        </button>
      </li>

      <li *ngIf="isAuthenticated">
        <button mat-button (click)="onLogout()">Logout</button>
      </li>
    </ul>
  </mat-toolbar>
  <div style="display: flex; justify-content: center">
    <router-outlet></router-outlet>
  </div>
</div>
