<div
  style="width: 100%; display: flex; justify-content: center; padding-top: 70px"
>
  <div class="layout-container">
    <!-- Profile Card -->
    <div class="profile-container">
      <mat-card class="profile-card">
        <mat-card-header>
          <div mat-card-avatar class="profile-image">
            <img
              [src]="user.profilePicture"
              alt="Profile Picture"
              class="profile-img"
            />
          </div>
          <mat-icon
            class="edit-icon"
            aria-label="Edit profile"
            (click)="navigateToMyProfile()"
            >edit</mat-icon
          >
        </mat-card-header>
        <mat-card-content>
          <h2 class="profile-name">{{ user.name }}</h2>
          <p class="profile-details">
            <a
              [href]="user.facebook"
              target="_blank"
              rel="noopener noreferrer"
              style="display: inline"
            >
              <mat-icon [inline]="true" aria-label="Facebook profile"
                >facebook</mat-icon
              >
            </a>
            <a
              [href]="user.instagram"
              target="_blank"
              rel="noopener noreferrer"
            >
              <i class="fab fa-instagram" aria-label="Instagram profile"></i>
            </a>
          </p>
          <p class="profile-details">
            <mat-icon aria-label="Phone number">phone</mat-icon>
            {{ user.phone }}
          </p>
          <p class="profile-details">
            <mat-icon aria-label="Email address">email</mat-icon>
            {{ user.mail }}
          </p>
        </mat-card-content>
      </mat-card>
    </div>

    <!-- Product Cards Container -->
    <div class="products-container">
      <div class="scrollable-content">
        <!-- <app-product-card
          *ngFor="let item of product"
          [product]="item"
        ></app-product-card> -->
      </div>
    </div>
  </div>
</div>
